* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav--icon {
    height: 30px;
    margin-right: 7px;
}

main {    
    color: #ffff;
    padding: 50px 30px;
}

.main--title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.main--list {
    margin-top: 45px;
    max-width: 600px;
}

.main--list > li {
    line-height: 20px;
    padding-block: 18px;
}

.main--list > li::marker{
    font-size: 2.6rem;
    color: #61DAFB;
}